.navbar-nav .nav-item {
  margin: 10px;
}

.navbar-nav .nav-item a {
  font-size: 16px;
  text-decoration: none;
  padding: 21px 8px;
  text-transform: uppercase;
}

.navbar-nav .nav-item:hover {
  background-color: #FFEA00;
}

.active-bg {
  background-color: #FFEA00;
}
