@import url(../css/fonts.css);
.big-inf {
  padding-top: 30px;
  background-color: #424146;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big-inf .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-inf .col {
  padding-right: 0px;
  padding-left: 0px;
  color: #FFF;
}

.big-inf .col h2 {
  font-size: 18px;
}

.big-inf .col p {
  font-size: 13px;
}

.big-inf .col a {
  color: #FFF;
}

.big-inf .col .btn-learn {
  display: block;
  background-color: #000;
  width: 122px;
  font-family: Century Gothic, sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid transparent;
  outline: none;
}

.big-inf .col .btn-learn:hover {
  border-bottom: 2px solid #FFEA00;
  outline: none;
}

.big-inf .col .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.big-inf .col .gallery img {
  max-width: 140px;
  max-height: 67px;
  margin: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-inf .col .tweets li {
  line-height: 15px;
  margin-bottom: 5px;
  padding-left: 35px;
}

.big-inf .col .tweets li::before {
  content: '';
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("../src/twitter-brands.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.big-inf .col .tweets span {
  color: #FFEA00;
}

.big-inf .col .tweets .time {
  color: #FFEA00;
  font-size: 8px;
}

.big-inf .col .tweets p {
  margin-bottom: 0px;
}

.big-inf .col .tweets a {
  font-size: 13px;
}

.big-inf .col .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.big-inf .col .social h3 {
  margin-top: 5px;
  font-size: 16px;
  color: #FFF;
}

.big-inf .col .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.big-inf .col .social-networks li {
  width: 30px;
  height: 30px;
  margin: 1px;
  background-color: #000;
}

.big-inf .col .social-networks i {
  padding: 7px;
}

.big-inf .col .social-networks .fa-facebook-f:hover {
  color: #2F55A4;
}

.big-inf .col .social-networks .fa-google-plus-g:hover {
  color: #86000B;
  background-color: #FFF;
}

.big-inf .col .social-networks .fa-tumblr:hover {
  background-color: #FFF;
  color: #34526F;
}

.big-inf .col .social-networks .fa-linkedin-in:hover {
  color: #000;
  background-color: #FFF;
}

.big-inf .col .social-networks .fa-youtube-square:hover {
  color: #FF0000;
}

.big-inf .col .social-networks .fa-blogger-b:hover {
  color: #FF9100;
}

.big-inf .col .social-networks .fa-rss:hover {
  color: #000;
  background-color: #FFF;
}

.big-inf .col .social-networks .fa-dribbble:hover {
  color: #FF00EA;
}

.big-inf .col address {
  padding-top: 5px;
  font-style: normal;
  padding-bottom: 5px;
}

.big-inf .col address li {
  padding: 4px;
}

.big-inf .col address li i {
  padding: 1px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #FFF;
}

.big-inf .col address li a {
  font-size: 16px;
  text-decoration: none;
  color: #FFF;
}

.big-inf .col address li a:hover {
  color: #FFEA00;
}

.big-inf .col address li p {
  font-size: 13px;
  margin-bottom: 0;
}

.big-inf .col address li span {
  font-size: 13px;
  color: #FFF;
}

.big-inf .col .email {
  border: none;
  background-color: #414146;
  border-bottom: 2px solid #FFEA00;
}

.big-inf .col .formEmailButton {
  width: 35px;
  height: 35px;
  background-color: #000;
  color: #FFF;
  font-size: 25px;
  text-align: center;
  border-style: none;
}

.big-inf .col .formEmailButton:hover {
  color: #FFEA00;
}

.black {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 20px;
}

.black .black-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  color: #FFF;
}

.black .copyright {
  text-align: center;
  padding-bottom: 10px;
}

.black .footer-menu-box {
  width: 50%;
}

.black .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.black .footer-menu a {
  color: #FFF;
  font-family: Code Light, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 6px;
}

.black .footer-menu a:hover {
  color: #000;
  background-color: #FFEA00;
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .description h2 {
    margin: 0 auto;
    font-size: 40px;
    padding-bottom: 5px;
  }
  .description p {
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
  .faces img {
    width: 90%;
  }
  .container h2 {
    text-align: center;
  }
  .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social h3 {
    text-align: center;
  }
  .social-networks {
    width: 100%;
  }
  .follow-us {
    margin-bottom: 15px;
  }
  .footer-menu {
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .description h2 {
    margin: 0 auto;
    font-size: 50px;
    padding-bottom: 5px;
  }
  .description p {
    text-align: center;
    font-size: 20px;
    padding: 5px;
  }
  .faces img {
    width: 90%;
  }
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social h3 {
    text-align: center;
  }
  .social-networks {
    width: 100%;
    margin-top: 10px;
  }
  .follow-us {
    margin-bottom: 15px;
  }
  .black .black-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .social-networks {
    width: 100%;
    margin-top: 10px;
  }
  .follow-us {
    margin: 0 auto;
  }
  .black .black-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .faces img {
    width: 80%;
    margin: 0 auto;
  }
  .social-networks {
    width: 100%;
    margin-top: 10px;
  }
  .email {
    width: 80%;
    margin-top: 3px;
  }
  .black .black-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body {
  font-family: Century Gothic, sans-serif;
}

.container {
  max-width: 1400px;
}

.main-menu {
  -webkit-box-flex: .4;
      -ms-flex-positive: .4;
          flex-grow: .4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu .nav-item {
  text-align: center;
}

.main-menu .nav-item a {
  font-family: Code Light, sans-serif;
  text-transform: uppercase;
  padding: 27px 6px;
  color: #000;
}

.main-menu .nav-item a:hover {
  color: #000;
  background-color: #FFEA00;
  text-decoration: none;
}

.main-menu .active-bg {
  background-color: #FFEA00;
}

#title {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background: url(../img/slider_bg.png);
  margin-bottom: 50px;
}

#title .title-head {
  display: inline-block;
  padding: 5px 75px 5px 5px;
  font-size: 35px;
  color: #FFEA00;
  background-color: #414146;
  text-transform: uppercase;
}

#title .title-head h2 {
  margin-bottom: 0px;
}

.carousel {
  margin-bottom: 25px;
}

.carousel ul {
  position: relative;
  margin: 0;
}

.carousel .panel-fullscreen {
  position: absolute;
  display: inline-block;
  z-index: 111;
  color: #FFF;
  width: 5%;
  height: 5%;
  top: 3%;
  right: 0;
  left: 97%;
  bottom: 0;
  overflow: auto;
}

.carousel .panel-fullscreen .fa-expand {
  color: #FFF;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
  width: 2%;
  height: 15%;
  top: 50%;
  background-color: #000;
}

.carousel-item {
  padding: 8px;
  background-color: #424146;
}

.indicators {
  background-color: #000;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-head {
  display: inline-block;
  margin-bottom: 15px;
  padding: 3px 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFEA00;
  background-color: #424146;
}

article {
  position: relative;
  margin: 0px 0 60px 0;
}

article::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 2px;
  color: #CACACA;
  background-color: #CACACA;
}

article p {
  margin: 0;
  font-size: 15px;
}

.modal-body {
  padding: 0;
}

.modal-body h3 {
  margin: 0;
  color: #FFEA00;
  background-color: #424146;
  text-align: center;
}

.modal-body .author {
  margin-top: 7px;
  font-size: 18px;
  margin-right: 15px;
  color: #34526F;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: #424146;
  width: 30%;
  height: 35%;
  top: 35%;
  left: 35%;
  opacity: .7;
}

.overlay i {
  position: absolute;
  color: #FFF;
  top: 30%;
  left: 35%;
}

a:hover > .overlay {
  display: block;
}

.recent-projects {
  padding-bottom: 100px;
}

.list {
  background-color: #424146;
  padding-left: 27px;
}

.list h2 {
  color: #FFEA00;
  text-transform: uppercase;
  font-size: 20px;
  padding: 27px;
  margin: 0;
}

.list ul {
  padding-left: 20px;
  padding-bottom: 25px;
}

.list .item {
  padding: 3px;
}

.list .item .fa-chevron-right {
  width: 30px;
  height: 30px;
  color: #000;
  text-align: center;
  padding-top: 5px;
  background-color: #FFEA00;
  margin-right: 5px;
}

.list .item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}

.list .item a:hover {
  -webkit-transition: .6s all ease-in;
  transition: .6s all ease-in;
  color: #FFEA00;
}

.list .item a:hover .fa-chevron-right {
  -webkit-transition: .6s all ease-in;
  transition: .6s all ease-in;
  color: #FFF;
  background-color: #000;
}

.nitem {
  padding: 5px 0;
}

.nitem .nitem-description {
  margin-left: 9px;
}

.nitem a {
  text-decoration: none;
  font-size: 12px;
  color: #FFEA00;
}

.nitem h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  margin: 0;
}

.nitem img {
  display: inline;
  width: 100px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tags {
  margin-bottom: 26px;
  margin: 0;
}

.tags .item {
  display: inline-block;
  margin: 2px;
}

.tags .item a {
  background-color: #FFEA00;
  text-decoration: none;
  text-transform: uppercase;
  color: #424146;
  font-family: Century Gothic, sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
}

.tags .item a:hover {
  background-color: #000;
  color: #FFF;
}
