@import url(../css/fonts.css)
@import variables.sass
@import media

body
    font-family: $main-font
a
    transition: .6s all ease
.container
    max-width: 1400px
.main-menu
    flex-grow: .4
    justify-content: space-between
    .nav-item
        color: $black
        text-align: center
        .nav-link
            font-family: $menu-font
            text-transform: uppercase
            padding: 25px 6px
            color: $black
            &:hover 
                color: $black
                background-color: $yellow
                text-decoration: none
                               
#title
    background: url(../img/slider_bg.png)        
.title-head    
    h2
        display: inline
        background-color: $light-gray
        text-transform: uppercase
        color: $yellow
        font-size: 35px
        padding: 5px 45px 5px 20px        
#portfolio-gallery
    text-align: center
    font-size: 24px
    h2
        margin-top: 15px
        text-transform: uppercase
.menu-navigation
    a
        font-size: 24px
        text-decoration: none
        font-family: $main-font
        padding: 10px 14px
        &:hover
            background-color: $yellow
            color: $black
.active-bg       
    background-color: $yellow
.modal-body
    h2
        color: $yellow        
        background-color: $light-gray
    .author
        margin-top: 7px
        font-size: 18px
        margin-right: 15px
        color: $dark-blue

.overlay
    display: none
    position: absolute
    z-index: 9
    background-color: $light-gray
    width: 30%
    height: 35%
    top: 35%
    left: 35%
    opacity: .7
    i
        color: $white
        top: 50%
        transform: translate(0, 55%)
a  
    &:hover> .overlay
        display: block               
.big-inf
    padding-top: 30px
    background-color: $light-gray
    display: flex
    .container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    .col
        padding-right: 0px
        padding-left: 0px
        color: $white       
        h2
            font-size: 18px
        p           
            font-size: 13px
        a
            color: $white                 
        .btn-learn
            display: block
            margin: 0 auto
            background-color: $black
            width: 122px
            text-decoration: none
            text-align: center
            padding: 10px
            margin-bottom: 15px
            border-bottom: 2px solid transparent
            outline: none
            &:hover
                border-bottom: 2px solid $yellow
                outline: none                   
        .gallery
            display: flex
            flex-wrap: wrap        
            img
                max-width: 140px
                max-height: 67px
                margin: 2px
                object-fit: cover        
        .tweets
            li
                line-height: 15px
                margin-bottom: 5px
                padding-left: 35px
                &::before
                    content: ''
                    display: block
                    position: absolute
                    height: 30px 
                    width: 30px
                    fill: $white 
                    background-image: url('../src/twitter-brands.svg')
                    background-size: contain
                    background-repeat: no-repeat
                    left: 0                    
            span
                color: $yellow
            .time
                color: $yellow
                font-size: 8px
            p
                margin-bottom: 0px
            a
                font-size: 13px
        .social
            display: flex
            justify-content: space-between
            h3
                margin-top: 5px
                font-size: 16px
                color: $white          
        .social-networks
            display: flex
            flex-direction: row
            justify-content: space-around
            width: 65%
            li
                width: 30px
                height: 30px
                background-color: $black
            i
                padding: 7px
            .fa-facebook-f:hover
                color: $light-blue
            .fa-google-plus-g:hover
                color: $dark-red
            .fa-tumblr:hover
                color: $dark-blue
            .fa-linkedin-in:hover
                color: $black
                background-color: $white
            .fa-youtube-square:hover
                color: $red
            .fa-blogger-b:hover
                color: $orange
            .fa-rss:hover
                color: $black
                background-color: $white
            .fa-dribbble:hover
                color: $pink        
        address
            padding-top: 5px
            font-style: normal
            padding-bottom: 5px
            li
                padding-bottom: 4px
                i
                    padding: 6px
                    width: 28px
                    height: 28px
                    background-color: $black
                    color: $white
                a
                    font-size: 16px
                    text-decoration: none
                    color: $white
                    &:hover
                        color: $yellow
                p
                    display: inline
                    font-size: 13px
                span
                    font-size: 13
                    color: $white
        .email           
            border: none
            background-color: $gray
            border-bottom: 2px solid $yellow
        .formEmailButton
            width: 35px
            height: 35px
            background-color: $black
            color: $white
            font-size: 25px
            text-align: center
            border-style: none
            &:hover
                color: $yellow    
.black
    background-color: $black
    padding-top: 30px
    padding-bottom: 20px
    .container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        p
        font-size: 14px
        color: $white
    .copyright
        text-align: center
        padding-bottom: 10px
    .footer-menu-box
        width: 50%
    .footer-menu
        display: flex
        justify-content: space-between      
        a
            color: $white
            font-family: $menu-font
            text-decoration: none
            text-transform: uppercase
            padding: 20px 6px
            &:hover
                color: $black
                background-color: $yellow
                text-decoration: none
@media screen and ( max-width: 420px )
    .menu-navigation
        flex-direction: column
        justify-content: center
    .overlay
        i
            top: 50%
            transform: translate(0, 25%)
    .gallery
        justify-content: center
    .social
        flex-direction: column
        h3
            text-align: center
    .social-networks
        width: 100%
    .follow-us
        margin-bottom: 15px
    .footer-menu
        width: 80%
        flex-wrap: wrap
@media screen and ( max-width: 576px )
    .menu-navigation
        width: 100%
        justify-content: center   
    #portfolio-gallery
        font-size: 24px
        h2    
            font-size: 35px
    .social
        flex-direction: column
        h3
            text-align: center
    .social-networks
        width: 100%
        margin-left: 80px
        margin-top: 10px
    .follow-us
        margin-bottom: 15px
    .black
        .container
            justify-content: center
@media screen and ( max-width: 768px )
    #portfolio-gallery
        font-size: 24px
        h2    
            font-size: 35px
    .overlay
        i
            top: 50%
            transform: translate(0, 20%)
    .social
        flex-direction: column
        span
            text-align: center
    .social-networks
        width: 100%
        margin-left: 80px
        margin-top: 10px
    .follow-us
        margin: 0 auto
    .black
        .container
            justify-content: center
@media screen and ( max-width: 992px )
    #portfolio-gallery
        font-size: 24px
        h2    
            font-size: 35px
    .overlay
        i
            top: 50%
            transform: translate(0, 10%)
    .social   
        flex-direction: column 
    .social-networks
        width: 100%
        margin-top: 10px
    .email
        margin-top: 3px
    .black       
        .container
            flex-wrap: wrap         
        .footer-menu-box
            width: 80%
