@import url(../css/fonts.css)
@import variables.sass
@import footer.sass
@import media.sass

body
    font-family: $main-font
a
    transition: .6s all ease
.container
    max-width: 1400px
#title
    padding-top: 20px
    padding-bottom: 20px
    position: relative
    background: url(../img/slider_bg.png)
    margin-bottom: 50px
    .title-head
        display: inline-block
        padding: 5px 75px 5px 5px
        font-size: 35px
        color: $yellow
        background-color: $gray
        text-transform: uppercase
        h2
            margin-bottom: 0px        
#portfolio-gallery
    text-align: center
    font-size: 24px
    h2
        margin-top: 15px
        text-transform: uppercase
.menu-navigation
    a
        font-size: 24px
        text-decoration: none
        font-family: $main-font
        padding: 10px 14px
        &:hover
            background-color: $yellow
            color: $black
.active-bg       
    background-color: $yellow
.modal-body
    padding: 0
    margin: 0
    h3        
        padding: 0
        margin: 0
        color: $yellow        
        background-color: $light-gray
    .author
        margin: 0 15px 0
        font-size: 18px 
        color: $dark-blue

.overlay
    display: none
    position: absolute
    z-index: 9
    background-color: $light-gray
    width: 30%
    height: 35%
    top: 35%
    left: 35%
    opacity: .7
    i
        position: absolute
        right: 30%
        top: 25%
        color: $white
a  
    &:hover> .overlay
        display: block               
@media screen and ( max-width: 420px )
    .menu-navigation
        flex-direction: column
        justify-content: center
    .gallery
        justify-content: center
@media screen and ( max-width: 576px )
    .menu-navigation
        width: 100%
        justify-content: center   
    #portfolio-gallery
        font-size: 24px
        h2    
            font-size: 35px
@media screen and ( max-width: 768px )
    #portfolio-gallery
        font-size: 24px
        h2    
            font-size: 35px
  
@media screen and ( max-width: 992px )
    #portfolio-gallery
        font-size: 24px
        h2    
            font-size: 35px


