@import url(../css/fonts.css);
@import variables.sass
@import header.sass
@import footer.sass
@import media.sass

body
    font-family: $main-font
.container
    max-width: 1400px
#title
    padding-top: 20px
    padding-bottom: 20px
    position: relative
    background: url(../img/slider_bg.png)
    margin-bottom: 50px
    .title-head
        display: inline-block
        padding: 5px 75px 5px 5px
        font-size: 35px
        color: $yellow
        background-color: $gray
        text-transform: uppercase
        h2
            margin-bottom: 0px
.carousel
    margin-bottom: 25px
    ul
        position: relative
        margin: 0
    .panel-fullscreen 
        position: absolute
        display: inline-block
        z-index: 111 
        color: $white
        width: 5%
        height: 5%    
        top: 3%
        right: 0
        left: 97%
        bottom: 0
        overflow: auto
        .fa-expand
            color: $white
    .carousel-control-prev, .carousel-control-next
        width: 2%
        height: 15%
        top: 50%
        background-color: $black
.carousel-item
    padding: 8px
    background-color: $light-gray  
.indicators
    background-color: $black
    padding: 10px
    justify-content: space-around
    flex-wrap: wrap
.block-head
    display: inline-block
    margin-bottom: 15px
    padding: 3px 20px
    font-size: 18px
    text-transform: uppercase
    color: $yellow
    background-color: $light-gray
article
    position: relative
    margin: 0px 0 60px 0
    &::after
        content: ''
        display: block
        position: absolute
        margin-top: 30px
        width: 100%
        height: 2px
        color: $line
        background-color: $line    
    p
        margin: 0
        font-size: 15px   
.modal-body
    padding: 0
    h3
        margin: 0
        color: $yellow        
        background-color: $light-gray
        text-align: center
    .author
        margin-top: 7px
        font-size: 18px
        margin-right: 15px
        color: $dark-blue
.overlay
    display: none
    position: absolute
    z-index: 9
    background-color: $light-gray
    width: 30%
    height: 35%
    top: 35%
    left: 35%
    opacity: .7
    i
        position: absolute
        color: $white
        top: 30%
        left: 35%
a  
    &:hover> .overlay
        display: block
.recent-projects
    padding-bottom: 100px
.list
    background-color: $light-gray
    padding-left: 20px
    h2
        color: $yellow
        text-transform: uppercase
        font-size: 20px
        padding: 27px
        margin: 0
    ul
        padding: 0 20px 25px 20px
    .item
        padding: 3px
        .fa-chevron-right
            width: 30px
            height: 30px
            color: $black
            text-align: center
            padding-top: 7px
            background-color: $yellow
            margin-right: 5px
        a
            text-decoration: none
            text-transform: uppercase
            color: $white
            &:hover
                transition: .6s all ease-in
                color: $yellow
                .fa-chevron-right
                    transition: .6s all ease-in
                    color: $white
                    background-color: $black         
.nitem
    padding: 5px 10px 0 0
    .nitem-description
        margin-left: 9px    
    a
        text-decoration: none
        h3
            text-transform: uppercase
            font-size: 16px
            line-height: 20px
            color: $white
            margin: 0 0 8px 0
        time
            color: $yellow
        span
            color: $yellow
            padding-left: 25px
        &:hover
            transition: .8s all ease-out
            background-color: $yellow
            text-decoration: none
            h3
                color: $black    
            img
                opacity: .8
            time
                color: $black
                padding: 3px 5px
                &:hover
                    color: $white
                    background-color: $light-gray
                    border-radius: 12px
            span
                color: $black
                padding: 3px 5px
                &:hover
                    color: $white
                    background-color: $light-gray
                    border-radius: 12px            
.tags
    margin-bottom: 26px
    margin: 0
    .item
        display: inline-block
        margin: 2px       
        a
            background-color: $yellow
            text-decoration: none
            text-transform: uppercase  
            color: $light-gray
            font: 16px $main-font
            padding: 5px 10px
            outline: none
            &:hover
                background-color: $black 
                color: $white